* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 100;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 70px;

}

.unlist {
    position: absolute;
    top: 50px;
    list-style: none;
    padding: 15px 0;
    visibility: hidden;
    transition: 0.3s;
    width: 200px;
    background-color: black;
    border-radius: 10px;
}

.unlist li {
    padding: 3px 0;
    color: white;
    font-size: 20px;
}
.this{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid black;
    margin-top: -18px;
    margin-left: 13px;
}

.navigation>li:hover .unlist {
     visibility: visible;
    top: 70PX;
    transition: 0.3s;
    padding: 10px 0px 10px 15px;
    background-color: black;
    cursor: pointer;
} 

.dropdown {
    list-style: none;
    position: absolute;
    visibility: hidden;
}

.navigation>li {
    cursor: pointer;
}

.unlist>li:hover .dropdown {
    visibility: visible;
    left: 200px;
    background-color: black;
    width: 200px;
    top: 100px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.left {
    padding-left: 110px;
}

.right {
    padding-right: 100px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation>li {
    padding: 20px 20px;
    color: grey;
}

.navigation>li:nth-child(1) {
    color: red;
}

.owl-carousel{
    display: block !important;
}

.header-1 {
    height: 600px;
    width: 100%;
}
.header-1:before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.center {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.center h2 {
    font-size: 70px;
    color: white;
}

.center p {
    color: white;
    padding-top: 10px;
    font-size: 20px;
}

.room {
    text-align: center;

}

.room h2 {
    font-size: 40px;
    font-weight: 100;
    display: inline-block;
    padding-top: 70px;
    position: relative;
    margin: 80px 0;
}

.room h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 122px;
    background-color: #000;
    bottom: -6px;
    left: 55px;
}

.section-2 {
    background-color: #f8f9fa;
    height: 1100px;
}

.row-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.filter {
    width: 350px;
    height: 360px;
    text-align: center;
    background-color: white;
}

.filter .fig {
    height: 240px;
    overflow: hidden;
}

.filter img {
    width: 100%;
    transition: 2s ease-in-out;
}

.filter .fig img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 2s ease-in-out;
    transform-origin: center;
}

.filter h2 {
    font-weight: 100;
    padding-top: 25px;
}

.filter p {
    color: grey;
    font-size: 18px;
    padding-top: 5px;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
}

.fantasy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
}

.star-5 {
    position: relative;
}

.star-5 img {
    width: 540px;
    height: 370px;
}

.abs {
    position: absolute;
    bottom: -65px;
    right: -85px;
}

.abs img {
    width: 285px;
    height: 200px;
    border: 10px solid white;
}

.fanstatic {
    margin-left: 130px;
    margin-bottom: 100px;
}

.fanstatic h2 {
    font-size: 50px;
    font-weight: 100;
    padding-bottom: 63px;
    position: relative;
}

.fanstatic p {
    color: grey;
    font-size: 20px;
}

.fanstatic h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background-color: #000;
    bottom: 55px;
    left: 5px;
}

.btns {
    padding-top: 40px;
    color: red;
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: math;
}

.swimming {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
    align-items: center;
    text-align: center;
}

.water img {
    width: 90px;

    filter: invert(32%) sepia(94%) saturate(4043%) hue-rotate(347deg) brightness(100%) contrast(90%);
}

.water p {
    font-size: 20px;
    padding-top: 20px;
}

.section-6 {
    width: 100%;
    /* overflow: hidden; */
    background-attachment: fixed;
    background-image: url(/images/beech.webp);
    padding: 50px;
    margin-bottom: 50px;
}

.color,span {
    color: #fff;
}

.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.summer h2 {
    font-size: 35px;
    font-weight: 100;
}

.btn {
    border: 1px solid yellow;
    padding: 10px 30px;
    background: transparent;
}

.label {
    font-size: 40px;
}

.minor h2::after {
    position: absolute;
    left: 30px;
}

.bed {
    width: 280px;
}

.bed img {
    width: 100%;
    height: 100%;
}

.unity {
    display: flex;
    /* margin: 50px 0; */
}

.gallery {
    margin-bottom: 80px;
}

.events h2::after {
    position: absolute;
    left: 80px;
}

.first {
    width: 320px;
    height: 450px;
}

.first h3 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 22px;
}

.first h5 {
    color: grey;
    font-weight: 100;
    font-size: 18px;
}

.first p {
    font-size: 20px;
    margin-top: 20px;
    color: grey;
}

.first h5 span {
    color: red;
}

.santiago {
    display: flex;
    column-gap: 80px;
    margin: 50px 0;
}

.section-9 {
    height: 580px;
    background-color: #f8f9fa;
    margin-top: 100px;
}

.people h2::after {
    position: absolute;
    left: 80px;
    width: 100px;
}

.short {
    display: flex;
    margin: 130px 0 60px 0;
    column-gap: 65px;
    justify-content: space-around;
}

.long {
    display: flex;
    width: 545px;
    height: 200px;
}

.owl-carousel .owl-item .small-img img {
    width: 80px;
    height: 70px;
    border-radius: 7px;
}

.big-para h2 {
    padding-left: 20px;
    font-weight: 100;
    padding-bottom: 15px;
}

.big-para p {
    color: grey;
    font-size: 22px;
    padding-left: 20px;
    font-style: italic;
}

.section-10 {
    background: rgba(0, 0, 0, 0.8);
    height: 545px;
}

.about {
    width: 350px;
    height: 280px;

}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.about h2 {
    color: white;
    font-weight: 100;
    padding: 20px 0;
}

.about p {
    color: grey;
    font-size: 18px;
}

.read {
    padding: 12px 35px;
    background: #f23a2e;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    font-family: math;
}

.read:hover {
    background-color: #ee1b0c;
    cursor: pointer;
}

.menu h2 {
    color: white;
    font-weight: 100;
    padding: 20px 0;
}

.list {
    list-style: none;
}

.list li {
    color: grey;
    font-size: 20px;
    padding-bottom: 10px;
}
.list li:hover{
    cursor: pointer;
    color: white;
}

.what {
    color: grey;
    padding: 0 7px;
}

.what:hover {
    color: white;
    cursor: pointer;
}

.colib {
    color: red;
}

.copyright {
    text-align: center;
}

.copyright p {
    color: grey;
    font-size: 20px;
    margin: 50px 0;
}

/* roomm */


.header-1 img {
    height: 600px;
    width: 100%;
}


/* events */

/* about */
.section-diff {
    background-color: #f8f9fa;

}

.staff {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.lament {
    width: 350px;
    height: 560px;
    background-color: white;
    text-align: center;
}

.lament img {
    width: 100%;
}

.lament h2 {
    padding-top: 35px;
    font-weight: 100;
    font-size: 25px;
}

.lament p {
    font-size: 20px;
    color: grey;
    padding-top: 15px;
}

.statious {
    margin-top: 20px;
    border: none;
    background: transparent;
    color: red;
    font-size: 15px;
}

.arrow {
    color: red;
}

.navigation li a {
    text-decoration: none;
    color: grey;
}
.unlist li a {
    color: white;
}
.input-form{
    width: 630px;
    height: 40px;
    font-size: 15px;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
}
input{
    border: 1px solid ;
}

input:focus{
    border-color: red;

}
textarea{
    border: 1px solid ;
}
textarea:focus{
    border-color: red;
}
.later{
    color: grey;
    font-weight: 700;
    font-size: 20px;
}
.router{
    height: 150px;
}
.section-20{
 margin: 80px 0;
}
.form{
 margin-top: 50px;
    margin-left: 40px;
}
.contact-info h2{
    font-weight: 100;
    margin: 10px 0;
}
.contact-info h3{
    color: grey;
    padding: 5px 0;
     margin: 10px 0;
}
.contact-info p{
    color: grey;
    padding: 5px 0;
    font-size: 18px;
}
p.import{
    color: red;
}
.form-section{
    display: flex;
    column-gap: 150px; 
}
.inbox-1{
    padding: 13px 40px;
    border-radius: 25px;
    background: #f23a2e;
    border-color: #f23a2e;
    color: white;
}
.inbox-1:hover{
    cursor: pointer;
    background-color: #eb1c0f;
    border-color: #df1b0e;
}

/* @media screen and (max-width:767px) {
   .fantasy{
    flex-direction: column;
   }
    
} */

@media screen and (min-width:320px) and (max-width:480px) {
    .fantasy{
     flex-direction: column;
     margin: 100px 0 0 0;
     
    }
    .section-2{
        height: unset;
    }
    .row-1{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .bed{
        width: 100%;
    }
    .star-5{
        width: 100%;
    }
    .star-5 img{
        width: 100%;
    }
    .first{
        
    width: 100%;
    height: 100%;
    }
    .fanstatic{
        margin-left: 0;
        margin-top: 70px;
        margin-bottom: 0;
    }
    .swimming{
        display: inline;
        margin-top: 20px;
    }
    .swimming .water{
        padding-top: 20px;
    }
    .section-1.sticky{
        display: none;
    }
    .center h2{
        font-size: 55px;
        font-weight: 100;
    }
    .about{
        width: 100%;
    }
    .short{
        margin: 0;
    }
    .footer{
        flex-direction: column;
        height: 100%;
    }
    .section-10{
        height: 1150px;
        padding-left: 20px;
    }
    .filter{
        height: 100%;
        width: 100%;
        margin: 30px 0;
    }
    .promo{
        flex-wrap: wrap;
        display: block;
    }
    .unity{
        flex-wrap: wrap;
    }
    .summer-color{
        display: flex;
        flex-wrap: wrap;
    }
    .count{
        margin-top: 20px;
    }
    .abs{
        right: 0;
    }
    .water{
        padding-top: 20px;
    margin-bottom: 20px;
    }
    .water img{
        width: 65px;
    }
    .water p{
        font-size: 20px;
    padding-top: 10px;
    font-family: monospace;
    }
    .container{
        padding: 0 20px;
    }
    .room h2{
        margin: 0 0 40px;
    }
    .first{
        margin-top: 50px;
    }
    .section-6{
        margin: 0;
    }
    .section-9{
    height: 100%;
    margin: 50px 0;
    }
     
 }





/* 
#triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
} */
